* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

.icon{
    max-width: 220px;
    max-height: 220px;
}

.button {
    background-color: white;
    border: 0;
}

#container {
    display: flex;
    gap: 110px;
}

.competitors,
.scoreboard {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.competitors {
    gap: 8px;
    margin-bottom: 0.67em
}
.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 72px;
    justify-content:space-between;
    align-self: flex-start;
}

.playerScore {
    align-self: end;
}
.computerScore {
    align-self: baseline;
}

.restart {
    margin-top: 12px;
}